// samyang
@font-face {
    font-family: "SamYang";
    font-style: normal;
    font-weight: 400;
    src: url("../../fonts/SYFotfRe00.eot?#iefix") format("embedded-opentype"),
        //  url("../../fonts/SYFotfRe00.woff2") format("woff2"),
        //  url("../../fonts/SYFotfRe00.woff") format("woff");
}
@font-face {
    font-family: "SamYang";
    font-style: normal;
    font-weight: 500;
    src: url("../../fonts/SYFotfMe00.eot?#iefix") format("embedded-opentype"),
        //  url("../../fonts/SYFotfMe00.woff2") format("woff2"),
        //  url("../../fonts/SYFotfMe00.woff") format("woff");
}
@font-face {
    font-family: "SamYang";
    font-style: normal;
    font-weight: 600;
    src: url("../../fonts/SYFotfBo00.eot?#iefix") format("embedded-opentype"),
        //  url("../../fonts/SYFotfBo00.woff2") format("woff2"),
        //  url("../../fonts/SYFotfBo00.woff") format("woff");
}
